.button {
    justify-content: center;
    position:absolute;
    margin:auto;
    width:150px;
    height: 150px;
}

#upbutton {
    top: 30%;
    left: 50%
}
#leftbutton {
    top: 50%;
    left: 40%;
}
#rightbutton {
    top: 50%;
    left: 60%
}
#reversebutton {
    top: 60%;
    left: 50%;
}