body {
    height:100%;
    width:100%;
    background-color:linear-gradient(rgba(0,255,255,0.5),rgba(255,255,125,0.5))
}
.middleContainer {
    display:flex;
    justify-content: space-around;
    align-items:center;

}
.upperContainer, .lowerContainer {
    display:flex;
    justify-content:center;
}
button {
    width:200px;
    height:200px;
    margin:25px;
    font-size:50px;

}
